<div class="wrapper">
    <nb-tabset>
        <nb-tab tabTitle="Find by hashtag" tabIcon="hash-outline" responsive>
          <app-findbyhashtag></app-findbyhashtag>
        </nb-tab>
        <nb-tab tabTitle="Find by user" tabIcon="person-outline" responsive>
          <app-findbyuser></app-findbyuser>
        </nb-tab>
      </nb-tabset>
      
</div>