<nb-card>
  <nb-card-body
    [nbSpinner]="loading"
    nbSpinnerStatus="danger"
    nbSpinnerSize="large"
    nbSpinnerMessage="Loading..."
  >
    <div class="actions">
      <input
        nbInput
        (change)="hashtagChange($event)"
        placeholder="Type the hashtag"
        class="search-input"
      />
      <input
        nbInput
        [nbFilterInput]="dataSource"
        id="search"
        placeholder="Filter"
        class="search-input"
      />
    </div>
    <table
      [nbTreeGrid]="dataSource"
      [nbSort]="dataSource"
      (sort)="updateSort($event)"
    >
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th
          nbTreeGridHeaderCell
          [nbSortHeader]="getSortDirection(customColumn)"
          *nbTreeGridHeaderCellDef
        >
          {{ customColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <!-- <nb-fs-icon
            [kind]="row.data.kind"
            [expanded]="row.expanded"
          ></nb-fs-icon> -->
          {{ row.data[customColumn] }}
        </td>
      </ng-container>

      <ng-container
        *ngFor="let column of defaultColumns; let index = index"
        [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)"
      >
        <th
          nbTreeGridHeaderCell
          [nbSortHeader]="getSortDirection(column)"
          *nbTreeGridHeaderCellDef
        >
          {{ column }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{ row.data[column] || "-" }}
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>
